* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wrapper {
    width: 900px;
    background-color: rgb(2, 48, 71);
    margin: 0 auto;
    padding: 20px;
}
@keyframes appear {
    from {
        opacity: 0;
        letter-spacing: 20px;
    }
    to {
        opacity: 1;
        letter-spacing: 0.5px;
    }
}
h1 {
    font-size: 40px;
    animation-name: appear;
    animation-duration: 3s;

}
h1, h3 {
    color: rgb(255, 183, 3);
    text-align: center;
    letter-spacing: 0.5px;
}
h3 {
    border-bottom: 2px double rgb(255, 183, 3);
    border-top: 2px double rgb(255, 183, 3);
    padding-bottom: 15px;
    padding-top: 15px;
}
.location {
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: rgb(247, 217, 144);
    margin: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}
.count {
    width: 125px;
    background-color:rgb(247, 217, 144);
    border-radius: 6px;
    padding: 3px 5px;
    margin-left: 10px;
    
}
@keyframes flash {
    from { 
        background-color: rgb(247, 217, 144);
        width: 250px;
        border-radius: 6px;
    }
    to {
        background-color: rgb(255, 183, 3);
        width: 600px;
        border-radius: 20px;
    }
}
#msg {
    width: 250px;
    background-color: rgb(247, 217, 144);
    border-radius: 6px;
    padding: 6px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 30;
    animation-direction: alternate;
}
#activities {
    color: rgb(247, 217, 144);
    margin-left: 10px;
    margin-bottom: 0px;
}
button {
    color: black;
    border: 2px solid black;
    padding: 3px 6px;
    border-radius: 6px;
    background-color:rgb(255, 183, 3);
}
.activities {
    width: 450px;
    height: 200px;
    display: inline-block;
    resize: none;
    overflow-y: scroll !important;
    outline: none;
    resize: none;
    background-color:rgb(247, 217, 144);
    margin-left: 10px;
    border-radius: 6px;
    padding: 0px 10px;
}
img {
    height: 210px;
    width: 300px;
    margin-left: 50px;
    padding: 0px;
}
.red {
    color: red;
}
.green {
    color: green;
}
#reset {
    width: 150px;
    height: 40px;
    display: block;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 18px;
}
button:hover {
    transform: scale(1.2);
}